@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
	scroll-behavior: smooth;
}

:root {
	--color-1-0: #0C9FDA; /*lightest color*/
	--color-1-1: #05445E; /*normal color*/
	--color-1-2: #043D54; /*darker color*/
	--color-1-3: #033143; /*darkest color*/
}

.container__md {
	max-width: 800px;
	margin: 0 auto;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--color-1-2);
    border-color: var(--color-1-3);
}

.border-left-main {
	border-left: 0.25rem solid var(--color-1-1) !important;
}

.card-header {
	background: var(--color-1-1);
	color: white !important;
	border-color: var(--color-1-1);
}

.list-group a {
	background: var(--color-1-1);
	color: white;
}

.list-group a:hover {
	font-weight: bold;
}

.logo-font {
	font-family: 'Kalam', cursive;
}

.sidebar-brand-text {
	text-transform: none !important;
	font-size: 20px;
	margin: 0;
}

.main-logo {
	height: 50px;
}

.bg-main {
	background: var(--color-1-1);
}

.bg-home {
	background: var(--color-1-0) !important;	
}

.text-main {
	color: var(--color-1-1);
}

.btn-main {
	color: #fff !important;
	background-color: var(--color-1-1) !important;
	border-color: var(--color-1-1) !important;
}

.btn-main:hover {
	color: #fff !important;
	background-color: var(--color-1-2) !important;
	border-color: var(--color-1-3) !important;
}

.btn-main:focus, .btn-main.focus {
	color: #fff !important;
	background-color: var(--color-1-2) !important;
	border-color: var(--color-1-3) !important;
	box-shadow: 0 0 0 0.2rem var(--color-1-0) !important;
}

.card-table td {
	vertical-align: top;

	font-size: 0.75rem
}

.card-body *:last-child {
	margin-bottom: 0;
}

.chat {
	height: 50vh;

	overflow-y: auto;
}

.message {
	width: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	max-width: 85%;
}

.map {
	width: 100%;
    height: 70vh;
}

.marker {
    width: 40px;
    height: 40px;
    
    cursor: pointer;

    background: url("https://static.thenounproject.com/png/638258-200.png") center / cover;
}

.show-on-print,
.show-on-print * {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  .container-fluid, 
  .container-fluid * {
    visibility: visible;
  }
  .container-fluid {
    position: absolute;
    left: 0;
    top: 0;
  }

  .hide-on-print,
  .hide-on-print * {
    visibility: hidden;
  }

  .show-on-print,
  .show-on-print * {
    display: block;
  }

  .text-main {
    display: flex;
  }
}